### Import Libraries

In [2]:
import pandas as pd
dates_no_gaps = pd.read_excel(open('All_Values_RavenPack_FinBERT_CrudeBERT_CrudeOil.xlsx', 'rb'), sheet_name='Combined_without_gaps', engine='openpyxl')
prices_crude_oil = pd.read_excel(open('All_Values_RavenPack_FinBERT_CrudeBERT_CrudeOil.xlsx', 'rb'), sheet_name='Prices_Crude_Oil', engine='openpyxl')  
sentiment_scores_crudebert = pd.read_excel(open('All_Values_RavenPack_FinBERT_CrudeBERT_CrudeOil.xlsx', 'rb'), sheet_name='DS_Sentiment_Scores_CrudeBERT', engine='openpyxl')  
sentiment_scores_crudebertv2 = pd.read_excel(open('All_Values_RavenPack_FinBERT_CrudeBERT_CrudeOil.xlsx', 'rb'), sheet_name='DS_Sentiment_Scores_CrudeBERTv2', engine='openpyxl')
sentiment_scores_finbert = pd.read_excel(open('All_Values_RavenPack_FinBERT_CrudeBERT_CrudeOil.xlsx', 'rb'), sheet_name='DS_Sentiment_Scores_FinBERT', engine='openpyxl')
sentiment_scores_crudebertt4 = pd.read_excel(open('All_Values_RavenPack_FinBERT_CrudeBERT_CrudeOil.xlsx', 'rb'), sheet_name='DS_Sentiment_Scores_CrudeBERTT4', engine='openpyxl')
google_trends_web = pd.read_excel(open('All_Values_RavenPack_FinBERT_CrudeBERT_CrudeOil.xlsx', 'rb'), sheet_name='Google_Trends_Web', engine='openpyxl')

### Reading and setting date without gaps as index

In [3]:
dates_no_gaps['Date']=pd.to_datetime(dates_no_gaps['Date'])
dates_no_gaps.set_index('Date',inplace=True)
dates_no_gaps.head()

Empty DataFrame
Columns: []
Index: [1999-12-01 00:00:00, 1999-12-02 00:00:00, 1999-12-03 00:00:00, 1999-12-04 00:00:00, 1999-12-05 00:00:00]

### Reading values of CrudeBERT

In [4]:
#sentiment_scores_crudebert['Date']=pd.to_datetime(sentiment_scores_crudebert['Date'])
sentiment_scores_crudebert.set_index('Date',inplace=True)
sentiment_scores_crudebert.head()

            Daily_Sum_CrudeBERT
Date
2000-01-01             0.966632
2000-01-03             0.965947
2000-01-04             0.983290
2000-01-06            -1.974946
2000-01-07            -1.976295

### Reading values of CrudeBERTv2

In [5]:
#sentiment_scores_crudebert['Date']=pd.to_datetime(sentiment_scores_crudebert['Date'])
sentiment_scores_crudebertv2.set_index('Date',inplace=True)
sentiment_scores_crudebertv2.head()

            Daily_Sum_CrudeBERTv2
Date
2000-01-01               0.973280
2000-01-03               0.976359
2000-01-04               0.956645
2000-01-06              -0.998689
2000-01-07              -1.972978

### Reading values of CrudeBERT_T4

In [6]:
#sentiment_scores_crudebert['Date']=pd.to_datetime(sentiment_scores_crudebert['Date'])
sentiment_scores_crudebertt4.set_index('Date',inplace=True)
sentiment_scores_crudebertt4.head()

            Daily_Sum_CrudeBERT_T4
Date
2000-01-01                0.984229
2000-01-03                0.914524
2000-01-04                0.916208
2000-01-06               -0.986297
2000-01-07               -1.978934

### Reading values of FinBERT

In [7]:
sentiment_scores_finbert.set_index('Date',inplace=True)
sentiment_scores_finbert.head()

            Daily_Sum_FinBERT
Date
2000-01-01               -0.5
2000-01-03                0.5
2000-01-04                0.5
2000-01-06                0.0
2000-01-07                0.0

### Reading values of Google Trends

In [9]:
google_trends_web.set_index('Date',inplace=True)
google_trends_web.head()

,Erdoel: (Weltweit),Crude Oil: (Weltweit),Dieselkraftstoff: (Weltweit),Motorenbenzin: (Weltweit),Petrol + Petroleum: (Weltweit)
Date,,,,,
2004-01-01,15,0,18,47,21
2004-01-02,33,3,27,39,15
2004-01-03,43,0,23,23,22
2004-01-04,17,0,20,42,15
2004-01-05,51,0,15,30,15

### Merging values of WTI Crude Oil with index

In [10]:
price_crude_oil = prices_crude_oil[['Date' , 'Price']]
price_crude_oil['Date']=pd.to_datetime(price_crude_oil['Date'])
price_crude_oil.set_index('Date',inplace=True)
price_crude_oil.head()

<ipython-input-10-c1251e37dd9e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_crude_oil['Date']=pd.to_datetime(price_crude_oil['Date'])

            Price
Date
1999-12-01  25.00
1999-12-02  25.82
1999-12-03  25.81
1999-12-06  26.66
1999-12-07  26.22

### Merging all values with index

In [11]:
combined_data = dates_no_gaps.join(sentiment_scores_crudebert, how='outer').join(sentiment_scores_crudebertv2, how='outer')\
.join(sentiment_scores_crudebertt4, how='outer')\
.join(sentiment_scores_finbert, how='outer')\
.join(price_crude_oil, how='outer').join(google_trends_web, how='outer')

In [17]:
combined_data[40:50].head(10)

,Daily_Sum_CrudeBERT,Daily_Sum_CrudeBERTv2,Daily_Sum_CrudeBERT_T4,Daily_Sum_FinBERT,Daily_Sum_RavenPack,Price,Erdoel: (Weltweit),Crude Oil: (Weltweit),Dieselkraftstoff: (Weltweit),Motorenbenzin: (Weltweit),Petrol + Petroleum: (Weltweit)
Date,,,,,,,,,,,
2000-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,-0.985164,-0.989551,-0.988047,-0.5,-1.0,24.67,NaN,NaN,NaN,NaN,NaN
2000-01-11,-2.949215,-2.965140,-2.968038,0.0,0.0,25.77,NaN,NaN,NaN,NaN,NaN
2000-01-12,-1.992102,-1.993377,-1.990039,-1.0,1.0,26.28,NaN,NaN,NaN,NaN,NaN
2000-01-13,2.949668,2.975598,2.967761,-3.0,2.0,26.69,NaN,NaN,NaN,NaN,NaN
2000-01-14,NaN,NaN,NaN,NaN,NaN,28.02,NaN,NaN,NaN,NaN,NaN
2000-01-15,0.995643,0.996492,0.992199,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-17,-0.008865,-0.005002,-0.002883,-0.5,-1.0,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-18,0.019544,0.461059,0.777903,0.0,1.0,28.85,NaN,NaN,NaN,NaN,NaN

In [20]:
combined_data = combined_data[1:]

### Interpolating (quadratic) gaps

In [22]:
interpolated = combined_data.interpolate(method='quadratic')

            Daily_Sum_CrudeBERT  Daily_Sum_CrudeBERTv2  \
Date
1999-12-01                  NaN                    NaN
1999-12-02                  NaN                    NaN
1999-12-03                  NaN                    NaN
1999-12-04                  NaN                    NaN
1999-12-05                  NaN                    NaN
1999-12-06                  NaN                    NaN
1999-12-07                  NaN                    NaN
1999-12-08                  NaN                    NaN
1999-12-09                  NaN                    NaN
1999-12-10                  NaN                    NaN
1999-12-11                  NaN                    NaN
1999-12-12                  NaN                    NaN
1999-12-13                  NaN                    NaN
1999-12-14                  NaN                    NaN
1999-12-15                  NaN                    NaN
1999-12-16                  NaN                    NaN
1999-12-17                  NaN                    NaN
1999-12-18                  NaN                    NaN
1999-12-19                  NaN                    NaN
1999-12-20                  NaN                    NaN
1999-12-21                  NaN                    NaN
1999-12-22                  NaN                    NaN
1999-12-23                  NaN                    NaN
1999-12-24                  NaN                    NaN
1999-12-25                  NaN                    NaN
1999-12-26                  NaN                    NaN
1999-12-27                  NaN                    NaN
1999-12-28                  NaN                    NaN
1999-12-29                  NaN                    NaN
1999-12-30                  NaN                    NaN
1999-12-31                  NaN                    NaN
2000-01-01             0.966632               0.973280
2000-01-02             0.882076               0.943123
2000-01-03             0.965947               0.976359
2000-01-04             0.983290               0.956645
2000-01-05            -0.475622               0.185926
2000-01-06            -1.974946              -0.998689
2000-01-07            -1.976295              -1.972978
2000-01-08            -1.274110              -1.712306
2000-01-09            -0.315109              -0.492099

            Daily_Sum_CrudeBERT_T4  Daily_Sum_FinBERT  Daily_Sum_RavenPack  \
Date
1999-12-01                     NaN                NaN                  NaN
1999-12-02                     NaN                NaN                  NaN
1999-12-03                     NaN                NaN                  NaN
1999-12-04                     NaN                NaN                  NaN
1999-12-05                     NaN                NaN                  NaN
1999-12-06                     NaN                NaN                  NaN
1999-12-07                     NaN                NaN                  NaN
1999-12-08                     NaN                NaN                  NaN
1999-12-09                     NaN                NaN                  NaN
1999-12-10                     NaN                NaN                  NaN
1999-12-11                     NaN                NaN                  NaN
1999-12-12                     NaN                NaN                  NaN
1999-12-13                     NaN                NaN                  NaN
1999-12-14                     NaN                NaN                  NaN
1999-12-15                     NaN                NaN                  NaN
1999-12-16                     NaN                NaN                  NaN
1999-12-17                     NaN                NaN                  NaN
1999-12-18                     NaN                NaN                  NaN
1999-12-19                     NaN                NaN                  NaN
1999-12-20                     NaN                NaN                  NaN
1999-12-21                     NaN                NaN                  NaN
1999-12-22                     NaN                NaN                  NaN
1999-12-23                     NaN                NaN                  NaN
1999-12-24                     NaN                NaN                  NaN
1999-12-25                     NaN                NaN                  NaN
1999-12-26                     NaN                NaN                  NaN
1999-12-27                     NaN                NaN                  NaN
1999-12-28                     NaN                NaN                  NaN
1999-12-29                     NaN                NaN                  NaN
1999-12-30                     NaN                NaN                  NaN
1999-12-31                     NaN                NaN                  NaN
2000-01-01                0.984229          -0.500000             0.000000
2000-01-02                0.897107           0.170280             1.882897
2000-01-03                0.914524           0.500000             1.000000
2000-01-04                0.916208           0.500000            -2.000000
2000-01-05                0.180531           0.235313            -3.224957
2000-01-06               -0.986297           0.000000            -2.000000
2000-01-07               -1.978934           0.000000             1.000000
2000-01-08               -1.724246          -0.228371             1.568726
2000-01-09               -0.493567          -0.639941            -0.362565

                Price  Erdoel: (Weltweit) Crude Oil: (Weltweit)  \
Date
1999-12-01  25.000000                 NaN                   NaN
1999-12-02  25.820000                 NaN                   NaN
1999-12-03  25.810000                 NaN                   NaN
1999-12-04  26.072578                 NaN                   NaN
1999-12-05  26.646302                 NaN                   NaN
1999-12-06  26.660000                 NaN                   NaN
1999-12-07  26.220000                 NaN                   NaN
1999-12-08  26.540000                 NaN                   NaN
1999-12-09  26.150000                 NaN                   NaN
1999-12-10  25.230000                 NaN                   NaN
1999-12-11  24.844100                 NaN                   NaN
1999-12-12  25.072123                 NaN                   NaN
1999-12-13  25.380000                 NaN                   NaN
1999-12-14  25.730000                 NaN                   NaN
1999-12-15  26.360000                 NaN                   NaN
1999-12-16  26.830000                 NaN                   NaN
1999-12-17  26.740000                 NaN                   NaN
1999-12-18  26.645186                 NaN                   NaN
1999-12-19  26.626285                 NaN                   NaN
1999-12-20  26.540000                 NaN                   NaN
1999-12-21  26.260000                 NaN                   NaN
1999-12-22  25.500000                 NaN                   NaN
1999-12-23  25.870000                 NaN                   NaN
1999-12-24  26.150329                 NaN                   NaN
1999-12-25  26.082972                 NaN                   NaN
1999-12-26  26.024129                 NaN                   NaN
1999-12-27  26.330000                 NaN                   NaN
1999-12-28  26.820000                 NaN                   NaN
1999-12-29  26.470000                 NaN                   NaN
1999-12-30  25.600000                 NaN                   NaN
1999-12-31  25.135443                 NaN                   NaN
2000-01-01  25.220675                 NaN                   NaN
2000-01-02  25.726691                 NaN                   NaN
2000-01-03  25.879467                 NaN                   NaN
2000-01-04  25.550000                 NaN                   NaN
2000-01-05  24.910000                 NaN                   NaN
2000-01-06  24.780000                 NaN                   NaN
2000-01-07  24.220000                 NaN                   NaN
2000-01-08  23.900329                 NaN                   NaN
2000-01-09  23.995220                 NaN                   NaN

            Dieselkraftstoff: (Weltweit)  Motorenbenzin: (Weltweit)  \
Date
1999-12-01                           NaN                        NaN
1999-12-02                           NaN                        NaN
1999-12-03                           NaN                        NaN
1999-12-04                           NaN                        NaN
1999-12-05                           NaN                        NaN
1999-12-06                           NaN                        NaN
1999-12-07                           NaN                        NaN
1999-12-08                           NaN                        NaN
1999-12-09                           NaN                        NaN
1999-12-10                           NaN                        NaN
1999-12-11                           NaN                        NaN
1999-12-12                           NaN                        NaN
1999-12-13                           NaN                        NaN
1999-12-14                           NaN                        NaN
1999-12-15                           NaN                        NaN
1999-12-16                           NaN                        NaN
1999-12-17                           NaN                        NaN
1999-12-18                           NaN                        NaN
1999-12-19                           NaN                        NaN
1999-12-20                           NaN                        NaN
1999-12-21                           NaN                        NaN
1999-12-22                           NaN                        NaN
1999-12-23                           NaN                        NaN
1999-12-24                           NaN                        NaN
1999-12-25                           NaN                        NaN
1999-12-26                           NaN                        NaN
1999-12-27                           NaN                        NaN
1999-12-28                           NaN                        NaN
1999-12-29                           NaN                        NaN
1999-12-30                           NaN                        NaN
1999-12-31                           NaN                        NaN
2000-01-01                           NaN                        NaN
2000-01-02                           NaN                        NaN
2000-01-03                           NaN                        NaN
2000-01-04                           NaN                        NaN
2000-01-05                           NaN                        NaN
2000-01-06                           NaN                        NaN
2000-01-07                           NaN                        NaN
2000-01-08                           NaN                        NaN
2000-01-09                           NaN                        NaN

            Petrol + Petroleum: (Weltweit)
Date
1999-12-01                             NaN
1999-12-02                             NaN
1999-12-03                             NaN
1999-12-04                             NaN
1999-12-05                             NaN
1999-12-06                             NaN
1999-12-07                             NaN
1999-12-08                             NaN
1999-12-09                             NaN
1999-12-10                             NaN
1999-12-11                             NaN
1999-12-12                             NaN
1999-12-13                             NaN
1999-12-14                             NaN
1999-12-15                             NaN
1999-12-16                             NaN
1999-12-17                             NaN
1999-12-18                             NaN
1999-12-19                             NaN
1999-12-20                             NaN
1999-12-21                             NaN
1999-12-22                             NaN
1999-12-23                             NaN
1999-12-24                             NaN
1999-12-25                             NaN
1999-12-26                             NaN
1999-12-27                             NaN
1999-12-28                             NaN
1999-12-29                             NaN
1999-12-30                             NaN
1999-12-31                             NaN
2000-01-01                             NaN
2000-01-02                             NaN
2000-01-03                             NaN
2000-01-04                             NaN
2000-01-05                             NaN
2000-01-06                             NaN
2000-01-07                             NaN
2000-01-08                             NaN
2000-01-09                             NaN

### Saving Dataframe with gaps as Excel-Sheet

In [23]:
combined_data.to_excel("quadratic_test_combined_data_ravenpack_crudebert_finbert_oil_googletrends_t4.xlsx")

### Saving interpolated Dataframe without gaps as Excel-Sheet

In [24]:
interpolated.to_excel("quadratic_test_interpolated_ravenpack_crudebert_finbert_oil_googletrends_t4.xlsx")